<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Motoristas</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home">Fiap.GlobalSolution</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/motorista">Motoristas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/passageiro">Passageiros</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/corrida">Corridas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <h1>Motoristas</h1>

        <div class="alert alert-success" role="alert" th:if="${message != null}" >
            <span th:text="${message}"></span>
        </div>

        <a href="/motorista/cadastrar" class="btn btn-sm btn-outline-primary">Cadastrar</a>

        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Data de cadastro</th>
                <th>Cadastro ativo</th>
                <th></th>
            </tr>
            
            <tr th:each="motorista : ${motoristas}">
                <td th:text="${motorista.nome}"></td>
                <td th:text="${motorista.email}"></td>
                <td th:text="${motorista.dataCadastro}"></td>
                <td th:text="${motorista.cadastroAtivo}"></td>
                <td>
                    <a th:href="${'/veiculo/index/' + motorista.id}" class="btn btn-warning btn-sm">Veículos</a>
                    <a th:href="${'/motorista/' + motorista.id}" class="btn btn-dark btn-sm">Editar</a>
                    <button th:attr="onclick='javascript:MotoristaId.value='+${motorista.id}+''" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Excluir
                    </button>
                </td>
            </tr>

        </table>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Deseja realmente excluir o motorista?
                    </div>
                    <div class="modal-footer">
                        <form action="/motorista/excluir" method="post">
                            <input type="hidden" name="id" id="MotoristaId" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                            <button type="submit" class="btn btn-danger">Sim</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>