<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/global.css}">
    <title>Document</title>
</head>
<body>

    <h1>Epic Task</h1>

    <div class="card lg">
        <form action="/task" method="POST" class="vertical-form" th:object="${task}">
            <input type="hidden" th:field="*{id}" id="id">
            <label for="title" class="hide">Título</label>
            <input 
                placeholder="título" 
                type="text" 
                id="title" 
                th:field="*{title}"
                th:classappend="${#fields.hasErrors('title')}?invalid"
            >
            <span th:errors="*{title}"></span>
    
            <label for="description" class="hide">Descrição</label>
            <textarea 
                type="text" 
                th:field="*{description}" 
                id="description" 
                placeholder="descrição"
                th:classappend="${#fields.hasErrors('description')}?invalid"
            ></textarea>
            <span th:errors="*{description}"></span>

            <label for="score">pontos</label>
            <input 
                type="range" 
                th:field="*{score}" 
                id="score" 
                min="1" 
                max="100"
            >
            <span th:errors="*{score}"></span>
    
            <div class="buttons">
                <button class="button default">cancelar</button>
                <input class="button" type="submit" th:value="${task.id == null}?cadastrar:alterar" />
            </div>
    
        </form>
        

    </div>
</body>
</html>