<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css"/>
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home">Fiap.GlobalSolution</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/home" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/motorista">Motoristas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/passageiro">Passageiros</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/corrida">Corridas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Bem-vindo</h1>
            <h2>CONTRIBUIÇÃO DO PROBLEMA PROPOSTO</h2>
            <span>A mobilidade hoje, principalmente no Brasil, tem se adaptado a todas as circunstâncias e por esse motivo decidimos propor uma solução que facilite a mobilidade das pessoas que com mais pressa ou por motivos geográficos enxergam maior eficiência em se locomover através das motos. Portanto, criamos uma solução que funciona como um Uber apenas de mototáxi, onde o usuário pode se cadastrar como passageiro ou motorista e solicitar uma corrida de um determinado ponto ao outro. Assim deixando na mão do usuário a melhor maneira para ele se locomover. </span>
            
            <h2>FUNCIONALIDADES</h2>
            <span>
                No nosso sistema existem dois meios de se logar, se cadastrando como motorista, onde são pedidos alguns dados específicos para garantir que o usuário realmente pode dirigir e utilizar do nosso sistema para isso ou se cadastrando como passageiro
                A principal funcionalidade do nosso sistema é gerar uma corrida entre um motorista e um passageiro, então para isso o motorista pode cadastrar, editar ou excluir seus veículos no sistema e o passageiro pode ver todos os motoristas disponíveis para realizar a corrida. Assim selecionando o motorista que ele deseja, o local de origem e de chegada.
            </span>
        </div>
    </div>
</body>
</html>